{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
<!-- Hero Carousel -->
<div class="container-fluid position-relative px-10">
  <div class="carousel-background-overlay"></div>
  <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active position-relative">
        <img src="{% static 'compressed/afterschoolclub.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay">
          <h3 class="primaryfont smallerheader">{% trans "AFTER SCHOOL CLUBS" %}</h3>
          <p class="body-text smallertext">
            {% trans "An environment where children feel truly excited to learn English!" %}
          </p>
          <a href="#classes1" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>

      <div class="carousel-item position-relative">
        <img src="{% static 'compressed/businessandgeneral.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay">
          <h3 class="primaryfont smallerheader">{% trans "BUSINESS ENGLISH" %}</h3>
          <p class="body-text smallertext">
            {% trans "Access to a career of opportunities is only one lesson away." %}
          </p>
          <a href="#classes2" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>

      <div class="carousel-item position-relative">
        <img src="{% static 'compressed/privatelessons.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay">
          <h3 class="primaryfont smallerheader">{% trans "ONE-ON-ONE’S" %}</h3>
          <p class="body-text smallertext">
            {% trans "Bespoke lessons designed to help you gain your confidence." %}
          </p>
          <a href="#classes3" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>

      <div class="carousel-item position-relative">
        <img src="{% static 'compressed/studyenglish.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay" style="max-width: 40%;">
          <h3 class="primaryfont smallerheader">{% trans "TEST PREPS" %}</h3>
          <p class="body-text smallertext">
            {% trans "Be prepared to unlock your potential to reach your academic goals." %}
          </p>
          <a href="#classes4" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" aria-label="previous" data-bs-target="#heroCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" aria-label="next" data-bs-target="#heroCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>

<!-- Main Content -->
  <section id="about" class="container-fluid py-4 text-center">
    <img src="{% static 'compressed/leannepic.webp' %}" class="rounded-circle mb-3 teacher_pic" alt="{% trans 'Teacher' %}">
    <img src="{% static 'compressed/door.webp' %}" class="mb-3 width-100" alt="{% trans 'Learn English with Confidence' %}">
    <h1 class="d-none">{% trans "Welcome to the English Studio, Corvetto" %}</h1>
   <p class="navy justify-text aboutp body-text mt-2 px-4">
  {% trans "Hi, I'm Leanne! Welcome to The English Studio in Corvetto — a space where learning English is fun, engaging, and designed just for you. I’m originally from England and now call Milan home. Over the years, I’ve taught adults, teens, little ones, business groups, IELTS and TOEIC students, and I’ve also hosted creative clubs and CLIL projects in schools. Alongside this experience, I hold a CELTA qualification, TEFL certification, and a First-Class Honours degree, and I regularly take part in ongoing professional training for young learners and teenagers. All of this shapes my approach to teaching: lessons that are friendly, interactive, and carefully tailored to each student." %}
</p>
<br>
<p class="navy aboutp justify-text body-text px-4">
  {% trans "At The English Studio, we focus on real learning — building confidence, connecting ideas, sharing stories, and using English naturally. For children, lessons are playful and immersive, helping them absorb grammar and vocabulary in fun, meaningful ways. For adults, lessons are personalised to your specific goals, helping you move past plateaus and achieve real progress." %}
</p>
<br>
<p class="navy aboutp justify-text body-text px-4">
  {% trans "Whether you’re 3 or 103, a beginner or advanced learner, there’s a place for you here. Lessons are personalised, engaging, and designed to help you reach your goals in a supportive and inspiring environment. Get in touch today or pop by to see what our lessons are like — I can’t wait to meet you!" %}
</p>
<br>
<p class="red aboutp body-text bigcenter px-4">
  <b>
    {% trans "The world is a spectacular place, but without English, many doors remain closed. Unlock new opportunities with English today." %}
  </b>
</p>
<br>

     <img src="{% static 'compressed/signature.webp' %}" alt="Leanne's signature" class="signature">
    <br>
    <br>
  </section>

  <section class="container-fluid mt-3" id="classes">
    <h2 class="text-center head-navy primaryfont mb-3 indexheader w-100">{% trans "What We Offer" %}</h2>
    <div class="row g-4">

     <!-- After School -->
<div class="col-md-6" id="classes1">
  <div class="card h-100">
    <img src="{% static 'compressed/apple.webp' %}" class="card-img-top icon-presets mt-3" alt="...">
    <div class="card-body">
      <h3 class="card-title red body-text text-center">{% trans "AFTER SCHOOL CLUBS" %}</h3>
      <p class="card-text navy body-text">
        {% trans "Join us after school for the perfect environment where your kids can learn English in a fun and exciting way! Each session is packed with energy and creativity, helping children consolidate grammar in refreshing, practical ways — turning what they learn in school into real, spoken, and written English." %}
      </p>
      <p class="card-text navy body-text">
        {% trans "Expose your children to the world and help them acquire fundamental language skills at a young age, preparing them for their best possible future." %}
      </p>
    </div>
  </div>
</div>

<!-- Teens -->
<div class="col-md-6">
  <div class="card h-100" id="classes3">
    <img src="{% static 'compressed/chat.webp' %}" class="card-img-top icon-presets mt-3" alt="...">
    <div class="card-body">
      <h3 class="card-title red body-text text-center">{% trans "TEENS" %}</h3>
      <p class="card-text navy body-text">
        {% trans "One-on-one or group lessons available for teens seeking extra academic support." %}
      </p>
      <p class="card-text navy body-text">
        {% trans "With an excellent academic record, our teacher is confident she can use creative methods to help you reach your goals. Lessons are designed not only to help you fully understand grammar, but also to find practical, relatable ways to apply the rules you learn at school in your daily life. Every lesson helps you elevate your English and get closer to meeting your academic needs — one lesson at a time." %}
      </p>
    </div>
  </div>
</div>

<!-- IELTS Test Prep -->
<div class="col-md-6">
  <div class="card h-100" id="classes4">
    <img src="{% static 'compressed/rosette.webp' %}" class="card-img-top alt-icon-preset mt-4" alt="...">
    <div class="card-body">
      <h3 class="card-title red body-text text-center">{% trans "TEST PREP" %}</h3>
      <p class="card-text navy body-text">
        {% trans "Comprehensive lessons covering all academic bases! What better place to prepare for British Council exams than with a native British teacher with an excellent academic record?" %}
      </p>
      <p class="card-text body-text navy">
        {% trans "Our teacher knows all the tips and tricks to help you achieve the top marks you need to reach your target score! Lessons are personalised to your strengths and weaknesses, giving you the confidence, strategies, and practice to succeed one step at a time." %}
      </p>
    </div>
  </div>
</div>

<!-- Adults -->
<div class="col-md-6" id="classes6">
  <div class="card h-100">
    <img src="{% static 'compressed/book.webp' %}" class="card-img-top alt-icon-preset mt-3" alt="...">
    <div class="card-body">
      <h3 class="card-title red body-text text-center">{% trans "ADULTS" %}</h3>

      <p class="card-text navy body-text">
        {% trans "English for yourself — discover how our bespoke lessons can transform your journey." %}
      </p>

      <p class="card-text navy body-text">
        {% trans "Learn English in a way you’ve never experienced before: have fun, engage fully, and unlock your potential. Our teacher has all the tools to help you come out of your shell and connect the grammar ingrained in your mind to produce beautifully spoken and written English." %}
      </p>

      <p class="card-text navy body-text">
        {% trans "Don’t worry — our school is a judgement-free space where effort is always praised, and our goal is simple: to help you feel confident in yourself and your English." %}
      </p>

      <p class="card-text navy body-text">
        {% trans "Our teacher isn’t here to criticise, but to mentor you — and to learn from you too." %}
      </p>
    </div>
  </div>
</div>

<!-- Business English -->
<div class="col-md-6" id="classes2">
  <div class="card h-100">
    <img src="{% static 'compressed/briefcase.webp' %}" class="card-img-top alt-icon-preset2 mt-3" alt="...">
    <div class="card-body">
      <h3 class="card-title red body-text text-center">{% trans "BUSINESS ENGLISH" %}</h3>

      <p class="card-text navy body-text">
        {% trans "Available online or in-person — sharpen your Business English skills and get the promotion you’ve always dreamed of!" %}
      </p>

      <p class="card-text body-text navy">
        {% trans "English is the most widely spoken international business language, and missing out on clear, confident communication means missing top opportunities. Together with our teacher, we’ll design a course tailored specifically to your goals and professional needs." %}
      </p>
    </div>
  </div>
</div>

<!-- Workshops & Activities -->
<div class="col-md-6" id="classes5">
  <div class="card h-100">
    <img src="{% static 'compressed/crafts.webp' %}" class="card-img-top alt-icon-preset2 mt-3" alt="...">
    <div class="card-body">
      <h3 class="card-title red body-text text-center">{% trans "WORKSHOPS & ACTIVITIES" %}</h3>

      <p class="card-text navy body-text">
        {% trans "English workshops and activities in collaboration with local artists and teachers!" %}
      </p>

      <p class="card-text body-text navy">
        {% trans "At The English Studio, we’re always working to provide you with opportunities to use English creatively and have fun while learning." %}
      </p>

      <p class="card-text body-text navy">
        {% trans "Follow us on Instagram for the latest updates — you won’t want to miss out!" %}
      </p>
    </div>
  </div>
</div>


    <div class="text-center headertext mt-4">
      <a href="{% url 'contact' %}" class="btn btn-red primaryfont">{% trans "CONTACT US" %}</a>
    </div>
  </section>

 {% include "flyers/homepage_flyers.html" %}
{% endblock %}

{% block extra_js %}
<!-- Your initialiser (after Swiper) -->
<script src="{% static 'js/flyers.js' %}"></script>
{% endblock %}


