{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
<!-- Hero Carousel -->
<div class="container-fluid position-relative px-10">
  <div class="carousel-background-overlay"></div>
  <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active position-relative">
        <img src="{% static 'compressed/afterschoolclub.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay">
          <h3 class="primaryfont smallerheader">{% trans "After School Club" %}</h3>
          <p class="body-text smallertext">{% trans "Making friends and learning English is so fun!" %}</p>
          <a href="#classes1" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>
      <div class="carousel-item position-relative">
        <img src="{% static 'compressed/businessandgeneral.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay">
          <h3 class="primaryfont smallerheader">{% trans "Business English" %}</h3>
          <p class="body-text smallertext">{% trans "Study to access a world of great opportunities." %}</p>
            <a href="#classes2" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>
      <div class="carousel-item position-relative">
        <img src="{% static 'compressed/privatelessons.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay">
          <h3 class="primaryfont smallerheader">{% trans "Private Tutoring" %}</h3>
          <p class="body-text smallertext">{% trans "Personalized support to help you reach your goals." %}</p>
          <a href="#classes3" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>
      <div class="carousel-item position-relative">
        <img src="{% static 'compressed/studyenglish.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay" style="max-width: 40%;">
          <h3 class="primaryfont smallerheader">{% trans "IELTS Test Preps" %}</h3>
          <p class="body-text smallertext">{% trans "Feel prepared to reach your highest potential." %}</p>
          <a href="#classes4" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" aria-label="previous" data-bs-target="#heroCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" aria-label="next" data-bs-target="#heroCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>

<!-- Main Content -->
  <section id="about" class="container-fluid py-4 text-center">
    <img src="{% static 'compressed/door.webp' %}" class="mb-3 teacher_pic" alt="Learn English with Confidence">
    <img src="{% static 'compressed/leannepic.webp' %}" class="rounded-circle mb-3 teacher_pic" alt="{% trans 'Teacher' %}">
    <h1 class="navy primaryfont headersize">{% trans "Hi, I'm Leanne!" %}</h1>
   <p class="navy justify-text aboutp body-text mt-2 px-4">
  {% trans "Welcome to The English Studio in Corvetto — a space where learning English is fun, engaging, and designed just for you. I’m originally from England and now call Milan home. Over the years, I’ve taught adults, teens, little ones, business groups, IELTS and TOEIC students, and I’ve also hosted creative clubs and CLIL projects in schools. Alongside this experience, I hold a CELTA qualification, TEFL certification, and a First-Class Honours degree, and I regularly take part in ongoing professional training for young learners and teenagers. All of this shapes my approach to teaching: lessons that are friendly, interactive, and carefully tailored to each student." %}
</p>
<br>
<p class="navy aboutp justify-text body-text px-4">
  {% trans "At The English Studio, we focus on real learning — building confidence, connecting ideas, sharing stories, and using English naturally. For children, lessons are playful and immersive, helping them absorb grammar and vocabulary in fun, meaningful ways. For adults, lessons are personalised to your specific goals, helping you move past plateaus and achieve real progress." %}
</p>
<br>
<p class="navy aboutp justify-text body-text px-4">
  {% trans "Whether you’re 3 or 103, a beginner or advanced learner, there’s a place for you here. Lessons are personalised, engaging, and designed to help you reach your goals in a supportive and inspiring environment. Get in touch today or pop by to see what our lessons are like — I can’t wait to meet you!" %}
</p>
<br>
<p class="red aboutp body-text bigcenter px-4">
  <b>
    {% trans "The world is a spectacular place, but without English, many doors remain closed. Unlock new opportunities with English today." %}
  </b>
</p>
<br>

     <img src="{% static 'compressed/signature.webp' %}" alt="Leanne's signature" class="signature">
    <br>
    <br>
  </section>

  <section class="container-fluid mt-3" id="classes">
    <h2 class="text-center head-navy primaryfont mb-3 indexheader w-100">{% trans "What We Offer" %}</h2>
    <div class="row g-4">

      <!-- After School -->
      <div class="col-md-6" id="classes1">
        <div class="card h-100">
          <img src="{% static 'compressed/apple.webp' %}" class="card-img-top icon-presets mt-3" alt="...">
          <div class="card-body">
            <h3 class="card-title red body-text text-center">{% trans "AFTER SCHOOL CLUB" %}</h3>
            <p class="card-text navy body-text">{% trans "Come and join us after school for 90 mins of full immersion English, with our native mother tongue teacher who provides exciting and fun activities for primary school children." %}</p>
            <p class="card-text navy body-text">{% trans "Expose your children to the world and help them acquire fundamental language skills at a young age, preparing them for their best possible future." %}</p>
            <p class="card-text red body-text"><b>{% trans "Price on request." %}<br>{% trans "Up to 8 children for each session." %}</b></p>
          </div>
        </div>
      </div>

      <!-- Teens -->
      <div class="col-md-6">
        <div class="card h-100" id="classes3">
          <img src="{% static 'compressed/chat.webp' %}" class="card-img-top icon-presets mt-3" alt="...">
          <div class="card-body">
            <h3 class="card-title red body-text text-center">{% trans "TEENS" %}</h3>
            <p class="card-text navy body-text">{% trans "English lessons tailored to all your needs. Our professionally trained and well-experienced teacher can help you define what you are looking for and together, we can reach your goals." %}</p>
            <p class="card-text navy body-text">{% trans "Imagine a life where you are fluent in English. If you can imagine it, we can achieve it." %}</p>
            <br>
            <p class="card-text red body-text"><b>{% trans "Price discussed on request" %}</b></p>
          </div>
        </div>
      </div>

      <!-- IELTS Test Prep -->
      <div class="col-md-6">
        <div class="card h-100" id="classes4">
          <img src="{% static 'compressed/rosette.webp' %}" class="card-img-top alt-icon-preset mt-4" alt="...">
          <div class="card-body">
            <h3 class="card-title red body-text text-center">{% trans "TEST PREP" %}</h3>
            <p class="card-text navy body-text">{% trans "Specialising in IELTS test prep, learn all the tips and tricks you need in order to achieve the score of your dreams!" %}</p>
            <p class="card-text body-text navy">{% trans "Our teacher has an excellent record in helping students realise their goals through her outstanding understanding of the difficult exam and how to navigate those high band scores." %}</p>
           <br>
            <p class="card-text red body-text"><b>{% trans "Price discussed on request." %}</b></p>
          </div>
        </div>
      </div>

             <!-- Adults -->
      <div class="col-md-6" id="classes6">
        <div class="card h-100">
          <img src="{% static 'compressed/book.webp' %}" class="card-img-top alt-icon-preset2 mt-3" alt="...">
          <div class="card-body">
            <h3 class="card-title red body-text text-center">{% trans "ADULTS" %}</h3>
            <p class="card-text navy body-text">{% trans "Whether you want to rent our cozy space for a party, or if you want to work together to plan your child’s birthday party of their dreams, send us a message to see how you can make their dream your reality." %}</p>   
            <br>
            <p class="card-text red body-text"><b>{% trans "Price discussed on request." %}</b></p>
          </div>
        </div>
      </div>
    </div>

      <!-- Business English -->
      <div class="col-md-6" id="classes2">
        <div class="card h-100">
          <img src="{% static 'compressed/briefcase.webp' %}" class="card-img-top alt-icon-preset mt-3" alt="...">
          <div class="card-body">
            <h3 class="card-title red body-text text-center">{% trans "BUSINESS ENGLISH" %}</h3>
            <p class="card-text navy body-text">{% trans "Available both online and in-person, finesse your Business English skills and get that promotion you’ve always dreamed of." %}</p>
            <p class="card-text body-text navy">{% trans "English is THE most widely spoken international business language and you are missing out on the top opportunities if you cannot express yourself properly! Together with our teacher, we can put together a course tailored specifically for you and your needs." %}</p>
            <p class="card-text red body-text"><b>{% trans "Also available in groups." %}<br>{% trans "Price discussed on request." %}</b></p>
          </div>
        </div>
      </div>
    

     <!-- Workshops & Activities -->
      <div class="col-md-6" id="classes5">
        <div class="card h-100">
          <img src="{% static 'compressed/crafts.webp' %}" class="card-img-top alt-icon-preset2 mt-3" alt="...">
          <div class="card-body">
            <h3 class="card-title red body-text text-center">{% trans "WORKSHOPS & ACTIVITIES" %}</h3>
            <p class="card-text navy body-text">{% trans "Looking for a creative way to improve your English? Or a different way to show your child how fun and limitless learning English can be?" %}</p>
            <p class="card-text body-text navy">{% trans "Come and try our workshops! At The English Studio, we work alongside other individual talents in the area to bring you some top tier bilingual laboratories." %}</p>
            <p class="card-text body-text navy">{% trans "Spaces are limited so make sure to book in ASAP!" %}</p>
            <br>
            <p class="card-text red body-text"><b>{% trans "Price discussed on request." %}</b></p>
          </div>
        </div>
      </div>


    <div class="text-center headertext mt-4">
      <a href="{% url 'contact' %}" class="btn btn-red primaryfont">{% trans "CONTACT US" %}</a>
    </div>
  </section>

 {% include "flyers/homepage_flyers.html" %}
{% endblock %}

{% block extra_js %}
<!-- Your initialiser (after Swiper) -->
<script src="{% static 'js/flyers.js' %}"></script>
{% endblock %}


